<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Add/Edit Magazine</title></head>
<body>
<h1 th:text="${magazine.id != null} ? 'Edit Magazine' : 'Add New Magazine'">Form</h1>
<form th:action="@{/magazines/save}" th:object="${magazine}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>Title: <input type="text" th:field="*{title}" required /></label><br/>
    <label>Order Qty: <input type="number" th:field="*{orderQty}" required /></label><br/>
    <label>Issue Date: <input type="datetime-local" th:field="*{currentIssue}" required /></label><br/>
    <label>Price: <input type="number" step="0.01" th:field="*{price}" required /></label><br/>
    <label>Copies: <input type="number" th:field="*{copies}" required /></label><br/>
    <button type="submit">Save Magazine</button>
</form>
<a th:href="@{/magazines}">Back to List</a>
</body>
</html>